@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Light.ttf);
}

body {
    color: #686969;
    font-family: 'Lato', sans-serif;
}

.clear_float {
    clear: both;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.header #main_logo {
    width: 250px;
    float: left;
}

.header .navigation {
    float: right;
}

.header .navigation li {
    display: inline-block;
    padding: 30px;
}

.header .navigation li a {
    display: block;
    color: #686969;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.header .navigation li a.active,
.header .navigation li a:hover {
    color: #FD2796;
    font-weight: bold;
}

.sidebar {
    padding: 10px;
    color:black;
    float:left;
}

.sidebar h1 {
    font-size: 35px;
}

.sidebar ul {
    margin-left: 15px;
}

.sidebar li {
    padding: 10px 0;
}

.sidebar li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-weight: bold;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.sidebar li a:hover {
    color: #FD2796;
}

.sidebar li a span {
    font-weight: normal;
    font-size: 16px;
}
.center_images{
float:right;
}